<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="qqfromto" value="3140159686"/>
    <add key="qqfromtopwd" value="vbshuqizhao12"/>
    <add key="qqsendto" value="趋意"/>
    <add key="face" value="558"/>
    <add key="ruokuaiUser" value="shuqizhao"/>
    <add key="ruokuaiPwd" value="vbshuqizhao12"/>
    <add key="ruokuaiTypeid" value="2040"/>
    <add key="ruokuaiSoftid" value="36037"/>
    <add key="ruokuaiSoftkey" value="b01c2a08343b4307924b37aae273afd9"/>
  </appSettings>
  <connectionStrings>
    <add name="god" connectionString="Data Source=127.0.0.1;Initial Catalog=God;User ID=sa;Password=sa;" providerName="sqlserver"/>
  </connectionStrings>
</configuration>